*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    /* margin: 0; */
    font-family: 'Arial', sans-serif;
}

/* section{
    max-width: 100%;
} */

.main-container {
    width: 85rem;
    margin: 0 auto;
}

.nav {
    background-color: rgba(255,255 ,255 ,0.97 );
    height: 60px;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 100;
    transition: background-color 0.3s ease;
    padding: 0 154px;
  }
  .nav-title img{
    height: 38px;
  }

  .nav-links{
    margin-top: 5px;
  }
  .nav > .nav-header {
    display: inline;
  }
  
  .nav > .nav-header > .nav-title {
    display: inline-block;
    font-size: 22px;
    color: #fff;
    padding: 10px 10px 10px 10px;
  }
  
  .nav > .nav-btn {
    display: none;
  }
  
  .nav > .nav-links {
    display: inline;
    float: right;
    font-size: 18px;
  }
  
  .nav > .nav-links > a {
    display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #333;
  }
  
  .nav > .nav-links > a:hover {
   color: deeppink;
      transition: 1s;
  }
  
  .nav > #nav-check {
    display: none;
  }
  
  @media (max-width: 768px) {
    .nav > .nav-btn {
      display: inline-block;
      position: absolute;
      right: 0px;
      top: 0px;
    }
    .nav > .nav-btn > label {
      display: inline-block;
      width: 50px;
      height: 50px;
      padding: 13px;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
      background-color: rgba(0, 0, 0, 0.3);
    }
    .nav > .nav-btn > label > span {
      display: block;
      width: 25px;
      height: 10px;
      border-top: 2px solid #eee;
    }
    .nav > .nav-links {
      position: absolute;
      display: block;
      width: 100%;
      background-color: #333;
      height: 0px;
      transition: all 0.3s ease-in;
      overflow-y: hidden;
      top: 50px;
      left: 0px;
    }
   
    .nav > .nav-links > a {
      display: block;
      width: 100%;
      color: #eee;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
      height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
      height: calc(100vh - 50px);
      overflow-y: auto;
    }
  }

/**************************************/
/* BANNER SECTION  */
/**************************************/

.banner-section {
    margin-top: 56px;
    background:#363768 url(https://www.ansonika.com/findoctor/img/hero_home_bg_1.svg)  no-repeat center bottom;;
    background-size:cover;
    padding: 4.8rem 0 9.6rem 0;
    height: 500px;
    width: 100%;
    display: table;
}

.banner-heading {
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 3.75rem;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-content {
    color: #fff;
    display: flex;
    justify-content: center;
    font-size:x-large;
    text-align: center;
}

.banner-section .hero-img {
    justify-content: center;
    height: 500px;
}

.banner-heading,
.banner-content {
    margin-bottom: 1px;
}

/* Media Queries */

/* Laptop - Large */
@media screen and (min-width: 1440px) {
  .banner-heading {
    font-size: 4.5rem; /* Adjust font size for large laptops */
  }

  .banner-content {
    font-size: x-large; /* Adjust font size for large laptops */
  }
}

/* Laptop - Medium */
@media screen and (min-width: 1024px) and (max-width: 1439px) {
  .banner-heading {
    font-size: 3.5rem; /* Adjust font size for medium laptops */
  }

  .banner-content {
    font-size: large; /* Adjust font size for medium laptops */
  }
}

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .banner-heading {
    font-size: 3rem; /* Adjust font size for tablets */
  }

  .banner-content {
    font-size: medium; /* Adjust font size for tablets */
  }
}

/* Mobile - Large */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .banner-heading {
    font-size: 2.5rem; /* Adjust font size for large mobile devices */
  }

  .banner-content {
    font-size: small; /* Adjust font size for large mobile devices */
  }
}

/* Mobile - Medium */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .banner-heading {
    font-size: 2.3rem; /* Adjust font size for medium mobile devices */
  }

  .banner-content {
    font-size: small; /* Adjust font size for medium mobile devices */
  }
}

/* Mobile - Small */
@media screen and (max-width: 374px) {
  .banner-heading {
    font-size: 2rem; /* Adjust font size for small mobile devices */
  }

  .banner-content {
    font-size: x-small; /* Adjust font size for small mobile devices */
  }
}



/***********************************/
/* SEARCH SECTION */
/***********************************/

.search{
    height: 50px;
    width: 100%;
    padding-left: 20px;
    /* padding-right: 20px; */
    border: 0;
    border-radius: 3px;
    box-shadow: 0px 0px 50px 0px rgba(0,0,0,0.35 );
    font-weight: 500;
    font-size: 1rem;
    color: #333;
}

#custom-search {
    top: 0;
    padding: 0 ;
    margin: auto ;
    position: relative;
}

#search-section {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
} 

#custom-search .btn-search {
    position: absolute;
    transition: all 0.3s;
    right: 0;
    color: #fff;
    font-weight: 600;
    font-size: 1rem;
    top:0;
    border: 0;
    padding: 0 25px;
    height: 50px;
    cursor: pointer;
    outline: none;
    border-radius: 0px 3px 3px 0;
    background-color: #74d1c6;
}

#custom-search .btn-search:hover {
    background-color: deeppink;
    transition: 1s;
}

#custom-search,
#search-section {
    width: 70%;
    margin-top: 25px;
    margin-right: 8px;
    /* margin-left: 3px; */
}

.search-button {
    padding-right: 50px;
}

.threebuttons {
    display: flex;
    justify-content: center;
    margin-top: 35px;
    gap:22px;    
}

.button1 {
    color: #fff;
    min-width: 80px;
    background-color: #74d1c6;
    border-radius: 3px;
    border: none;
    font-weight: bolder;
    height: 23px;
    cursor: pointer;
}

.button2 {
    color: #fff;
    min-width: 80px;
    background-color:rgba(0, 0, 0, 0.456);
    border-radius: 3px;
    border: none;
    font-weight: bolder;
    height: 23px;
    cursor: pointer;
}

.button3 {
    color: #fff;
    min-width: 80px;
    background-color:rgba(0, 0, 0, 0.456);
    border-radius: 3px;
    border: none;
    font-weight: bolder;
    height: 23px;
    cursor: pointer;
}

.button2:hover {
    background-color: deeppink;
    transition: all 1s;
}

.button3:hover {
    background-color: deeppink;
    transition: all 1s;
}

/* Media Query for Small Screens */

@media screen and (max-width: 300px) {
  .threebuttons {
    flex-direction: column;
    align-items: center;
  }

  .threebuttons li {
    padding: 3px 0;
  }
}


/**************************************/
/* DISCOVER THE ONLINE APPOINTMENT SECTION  */
/**************************************/

.discover {
    padding-top: 120px;
    padding-bottom: 95px;
    /* background-color:whitesmoke; */
}

.discover-section {
  background-color: #f5f8fa;
}

.online-appointment {
    text-align: center;
}

.third-text {
     justify-content: center;
     font-weight: 300;
     font-size: 36px;
}

.fourth-text {
     font-size: 20px;
     color: #777;
     font-weight: 300;
}

.row {
    display: flex;
    gap:50px;
    justify-content: center;
    margin-top: 40px;
    box-sizing: border-box;
} 

/* .row > div {
    box-shadow: 0px 0px 30px 0px rgba(0 , 0 , 0 , 0.1)
    padding: 20px; 
} */

.box {
    margin-top: 4rem;
    font-family: "poppins", Helvetica, sans-serif;
    color: #555;
    text-align: center;
}

.row-color {
    color: deeppink;
    text-transform: uppercase;
    justify-content: center;
    font-size: 20px;
    font-weight:550;
    text-align: center;
    margin-top:20px;
}

#finddoctorimg {
    margin-left: 9.5rem;
}
#finddoctor {
    margin-right: 3px;
}

#bookvisitimg {
    padding-left: 2rem;
}

/* #bookvisit {
    margin-right: 50px;
} */

.row-images {
    height: 90px;
    /* margin-right: 70px; */
    text-align: center;
}

/* .row-images span {
    position: absolute;
    top:50%;
    right: -48px;
    height: 70px;
    width: 70px;
    z-index: 9;
    border: 2px solid #ededed;
    display: block;
    background: #fff url(https://www.ansonika.com/findoctor/img/arrow-gray-1.svg) no-repeat center;
} */


.btn {
    text-align: center;
    margin-top: 25px;
}


.findoctor-btn {
    
    text-align: center;
    border-radius: 5px;
    font-size:16px;
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    color: #fff;
    background-color: deeppink;
    cursor: pointer;
    font-weight: 600;
}

.findoctor-btn:hover {
    background-color:teal;
    transition: all 1s;
}

 .doctor {
  color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0,0 ,0 ,0.1);
    /* margin-left:10rem; */
    height: 20rem;
    width: 25rem;
    border-radius: 10px;
}

/* Media Queries for buttons */

@media screen and (max-width: 300px) {
  .row {
    flex-direction: column;
    align-items: center;
    /* margin: 0px 5px 0px 5px; */
    /* padding-right:5px ;
    padding-left:5px; */
  }
}

 #viewprofileimg {
    margin-left: 8rem;
 }

 #bookvisitimg {
    margin-left: 8rem;
 }

 

 
/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .third-text {
    font-size: 28px; /* Adjust font size for tablets */
  }

  .fourth-text {
    font-size: 18px; /* Adjust font size for tablets */
  }
}

/* Mobile - Large */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .third-text {
    font-size: 24px; /* Adjust font size for large mobile devices */
  }

  .fourth-text {
    font-size: 16px; /* Adjust font size for large mobile devices */
  }

  

  .findoctor-btn {
    font-size: 14px; /* Adjust font size for large mobile devices */
  }

  .doctor,
  .profile,
  .visit {
    max-width: 100%; /* Take up full width on smaller screens */
  }
}

/* Mobile - Medium */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .third-text {
    font-size: 22px; /* Adjust font size for medium mobile devices */
  }

  .fourth-text {
    font-size: 14px; /* Adjust font size for medium mobile devices */
  }

  .findoctor-btn {
    font-size: 12px; /* Adjust font size for medium mobile devices */
  }
}

/* Mobile - Small */
@media screen and (max-width: 374px) {
  .third-text {
    font-size: 20px; /* Adjust font size for small mobile devices */
  }

  .fourth-text {
    font-size: 12px; /* Adjust font size for small mobile devices */
  }

  .findoctor-btn {
    font-size: 12px; /* Adjust font size for small mobile devices */
  }
}



/**************************************/
/* MOST VIEWED DOCTORS SECTION  */
/**************************************/

.most-viewed-doctors {
    padding-top: 120px;
    padding-bottom: 95px;
}

.most-viewed {
    text-align: center;
    font-weight: 300;
    font-size: 36px;
    color: #333;
}

.most{
    text-align: center;
    font-weight: 300;
    font-size: 25px;
    color: #777;
} 

 .doctors {
    margin-top: 25px;
    /* display:flex;
    flex-direction: row;
     width: 20%;
     */ 
     height: 0%;
} 

/* Media Queries */

/* Tablet */
@media screen and (min-width: 768px) and (max-width: 1023px) {
  .most-viewed {
    font-size: 28px; /* Adjust font size for tablets */
  }

  .most {
    font-size: 20px; /* Adjust font size for tablets */
  }
}

/* Mobile - Large */
@media screen and (min-width: 425px) and (max-width: 767px) {
  .most-viewed {
    font-size: 24px; /* Adjust font size for large mobile devices */
  }

  .most {
    font-size: 16px; /* Adjust font size for large mobile devices */
  }

  .doctors {
    margin-top: 15px; /* Adjust margin for better spacing on smaller screens */

  }
}

/* Mobile - Medium */
@media screen and (min-width: 375px) and (max-width: 424px) {
  .most-viewed {
    font-size: 22px; /* Adjust font size for medium mobile devices */
  }

  .most {
    font-size: 14px; /* Adjust font size for medium mobile devices */
  }
}

/* Mobile - Small */
@media screen and (max-width: 374px) {
  .most-viewed {
    font-size: 20px; /* Adjust font size for small mobile devices */
  }

  .most {
    font-size: 12px; /* Adjust font size for small mobile devices */
  }

  .doctors {
    margin-top: 10px; /* Adjust margin for better spacing on smaller screens */
  }
}

/* Mobile - Extra Small*/
@media  screen and (max-width: 300px) {
  .doctors {
    max-width: 100%;
  }
  
}

/**************************************/
/* FIND YOUR DOCTOR OR CLINIC SECTION  */
/**************************************/

.clinic-section {
    padding: 0;
    /* text-align: center; */
  }


  .clinic-text-box {
    text-align: center;
    line-height: 1.5;
    padding: 0 16rem 5rem 16rem;
  }
  
  .clinic-title {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 400;
  }
  .clinic-text {
    color: #777;
    font-size: 1.2rem;
  }
  
  .name-list {
    display: flex;
    justify-content: center;
    gap: 4rem;
    /* background-color: blue; */
    /* border: 2px solid black; */
  }

  .container {
    background: #f5f8fa;
  }
  
  .container.clinic {
    background: #f5f8fa;
    padding-top: 120px;
  }
  .container.search-by{
    padding-bottom: 95px;
  }  
  .name-text {
    list-style: none;
    position: relative;
  }
  
  .name-text a {
    width: 25rem;
    display: block;
    margin: 0.3rem 0;
    text-decoration: none;
    color: black;
    /* border: 2px solid black; */
    background-color: white;
    border-radius: 4px;
    padding: 1rem 2rem;
    transition: all 0.5s ease;
  }
  
  .arrow {
    position: relative;
  }
  .arrow::before {
    content: "\2192";
    position: absolute;
    right: 15px;
    top: 15px;
    color: black;
  }
  .arrow::after {
    content: "\2192";
    position: absolute;
    right: 15px;
    top: 15px;
    
  }
  .name-text a:hover {
    background-color: #d63384;
    color: white;
    transform: scale(1.05);
  }
  
  .search-card {
    text-align: center;
    background-color: #3f4079;
    height: 7rem;
    border-radius: 4px;
    padding: 1rem 0;
  }
  .name-icon {
    color: white;
    font-size: 3rem;
  }
  .name-title {
    color: #74d1c6;
    text-transform: uppercase;
  }

  /* Media Query for Responsive Layout */
@media (max-width: 300px) {
  .name-list {
    flex-direction: column;  /* Stack items in a single column */
    align-items: center;     /* Center items horizontally */
  }

  .name-content {
    margin-bottom: 2rem;     /* Add some spacing between stacked items */
  }
}




/**************************************/
/* DISCOVER THE ONLINE APPOINTMENT SECTION  */
/**************************************/

.download-app {
   padding: 100px 0 60px 0;
    background-color:#3f4079 ;
    /* display: flex; */
    /* flex-direction: row; */
    color: #fff;
    /* justify-content: space-between; */
}

.second-last {
    display: flex;
    justify-content: space-around;
    gap: 5rem;
}

.application {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    opacity: 0.5;
}

.description {
   margin-top: 1rem;
}


.description-heading {
    text-transform: uppercase;
    color: #fff;
    font-size: 2rem;
    margin-top: 5px;
}

.description-heading strong {
    color: yellow;
}

.last-description {
    margin-top: 10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:1.5rem;
    font-weight:lighter;
    /* margin-bottom: 60px; */
}

.googlemap-img {
    max-width: 100%;
    /* height:15px; */
}

#map-img {
     height: 25rem;
}

.content-images {
   display: flex;
   padding-top: 3rem;
   gap: 5px;
   /* padding-right: 15rem; */
}

.appstore-img {
  height: 3rem;
  /* padding-right: 5rem; */
}

.googleplay-img {
  height: 3rem;
  /* padding-right: 10rem; */
}



/* Media Query for screens with width 300px or less */
@media screen and (max-width: 300px) {
  .download-app {
    padding: 60px 0 30px 0; /* Adjust padding for smaller screens */
  }

  .second-last {
    gap: 0.5rem;
  }

  .application {
    font-size: 12px; /* Adjust font size for smaller screens */
  }

  .description {
    position: relative;
    margin-top: 28rem;
    align-items: flex-start;
  }

  .description-heading {
    font-size: 1.5rem; /* Adjust font size for smaller screens */
  }

  .last-description {
    font-size: 1.2rem; /* Adjust font size for smaller screens */
  }
}




/***************************/
/*     FOOTER SECTION     */
/**************************/

.footer {
    color: #555;
    background-color: #fff;
    /* cursor: pointer; */
}

.about-footer {
    cursor: pointer;
}

.about-column:hover {
    color: deeppink;
    transition: all 0.3s ease-in-out;
}

.about-column:hover::after {
    color: deeppink; 
    content: "\2192";
    transition: all 0.3s ease-in-out;
}

.about-column {
    transition: all 0.3s ease-in-out;
}

.contact-info{
    margin-bottom: 10px;
}
.contact-info:hover {
    color: deeppink;
    transition: all 0.3s ease;
}

.footer-logo {
    margin-top: 0;
    padding-left: 2rem;
    height: 38px;
}

.footer-row {
    display: flex;
    gap:14rem;
    justify-content: center;
    margin-top: 40px;
    box-sizing: border-box;
}

.footer-margin {
    margin-top: 5rem;
    /* display: flex; */
    /* flex-direction: inherit; */
    /* justify-content:space-around; */
}

#about {
    color: #777;
    font-weight:600;
    text-transform: uppercase;

}

.fa-mobile-screen-button,
.fa-envelope{
  color: deeppink;
}

.sepration-1 {
    margin-top: 1rem;
}

.about-column {
    margin-top: 10px;
}

hr {
    /* border: 0.5px solid gray; */
    margin: 3rem 6rem 2rem 11rem;
    color: #ededed;
    opacity: 3;
}

.follow {
    color: #777;
    font-weight:600;
    text-transform: uppercase;
    margin-top: 1.5rem;
}

.social-icon {
    display: flex;
    margin-top: 1rem;
    margin-left: -1.5rem;
    justify-content: space-evenly;
}

.fa-facebook,
.fa-twitter,
.fa-linkedin,
.fa-camera{
    color: #555;
}

.fa-facebook:hover,
.fa-twitter:hover,
.fa-linkedin:hover,
.fa-camera:hover{
    color: deeppink;
}


@media screen and (max-width: 300px) {
  .footer-row {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3rem;
    margin-left: 15px;
  }

  .footer-logo {
    margin-top: -23px;
    margin-left: -27px;
  }

  .about-footer {
    margin-top: -15px;
  }


  hr {
    margin: 3rem 1rem 2rem 1rem;
  }
  /* hr {
    
    margin: 3rem 6rem 2rem 11rem;
    color: #ededed;
    opacity: 3;
} */

}

/*************************/
/* LAST SECTION */
/************************/

.last-section {
    display: flex;
    /* margin: 0px  0px 0px  ; */
}

.last-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.last-findoctor {
    justify-content: flex-end;
    margin-top: 0px;
    margin-right: 96px;
}



li.privacy-content {
    display: inline-block;
}

ul.privacy {
    padding: 0px 198px 0;
}

ul.privacy li.privacy-content:first-child::after {
    content: "|";
    position: relative;
    left: 10px;
}

li.privacy-content:last-child {
    margin-left: 18px;
}



/* Media Query */


@media screen and (max-width: 300px) {
  .last-section {
    flex-direction:column; 
    align-items:flex-start; 
  }
  
  ul.privacy {
    padding: 0px 18px 0;
}

  .last-findoctor {
    margin-top: 0; 
    margin-left: 5px;
    padding-top: 7px;
    padding-left: 13px;
  }


}



.owl-item > div {
    cursor: pointer;
    margin: 6% 8%;
    transition: margin 0.4s ease;
  }
  .owl-item.center > div {
    cursor: auto;
    margin: 0;
  }
  .owl-item:not(.center) > div:hover {
    opacity: .75;
  }

  .ionicon{
    height: 30px;
  margin-top: 10px;
  }